@model List<Cotizador.Models.TableViewModels.CotizacionEncTableViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Cotizaciones</h2>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" onclick="document.location.href= '@Url.Content("~/CotizacionEnc/Add")'" value="Nuevo" />

    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>No. Cotización</th>
                <th>Descripción</th>
                <th>Cliente</th>
                <th>Monto</th>
                <th>Acciones</th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.id</td>
                    <td>@oElemento.NoCotizacion</td>
                    <td>@oElemento.Descripcion</td>
                    <td>@oElemento.CustId</td>
                    <td>@oElemento.Monto</td>

                    <!--Botones para editar y eliminar registros-->
                    <td>
                        <!--Utilizando Ajax-->
                        <input onclick="jsDelete(@oElemento.id);" type="button" value="Eliminar" class="btn btn-danger" />
                        <input onclick="document.location.href='@Url.Content("~/CotizacionEnc/Edit/" + oElemento.id)'" type="button" value="Editar" class="btn btn-default" />
                        <input onclick="document.location.href='@Url.Content("~/CotizacionDet/Index/" + oElemento.id)'" type="button" value="Detalles" class="btn btn-default" />
                    </td>
                </tr>
            }
        </table>

    </div>
</div>

<script>
    function jsDelete(id) {
        if (confirm("Estas seguro de eliminarlo?")) {
            url = "@Url.Content("~/CotizacionEnc/Delete")" + "/"+id;

            $.post(url, function (data) {

                if (data == "1") {
                    document.location.href = "@Url.Content("~/CotizacionEnc/")"
                } else {
                    alert("Ocurrio un error :(")
                }

            })
        }
    }
</script>

